.vscode/
.wandb/
runs/

# secrets, just in case
*__secret__*
*.key.json
*.key

# pipenv
# TODO check if .lock should be commiteds
Pipfile.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# pyenv python configuration file
.python-version